# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Entornos virtuales
.venv/
venv/

# Archivos de configuración locales
.env
*.env

# Archivos de sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Compilaciones
build/
dist/
*.egg-info/
